@using BlazorStrap

<BSContainer fluid class="bg-light text-center py-3">
    <p>Recipe-project-thesis @DateTime.Now.Year</p>
</BSContainer>


@code {
    // Any additional C# code needed for your footer can go here
}