@using BlazorStrap
@using Application.Models.Recipes
@namespace UI.Components
<BSCard CardType="CardType.Card" class="card-fixed-size">
    <a href="/recipe/@Recipe.Id" style="text-decoration: none; color: inherit;">
        <BSCard CardType="CardType.Image" src="@Recipe.MainPhotoUrl" class="card-image" alt="Card image cap"/>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title" class="text-center">@Recipe.Title</BSCard>
        <BSCard CardType="CardType.Subtitle" class="text-center">@Recipe.AuthorEmail</BSCard>
    </BSCard>
    </a>
</BSCard>


@code {
    [Parameter, EditorRequired] public RecipeDto Recipe { get; set; } = new();

    [Inject] public NavigationManager NavigationManager { get; set; } = null!;


    public void NavigateToRecipe(Guid recipeId)
    {
        NavigationManager.NavigateTo($"/recipe/{recipeId}");
    }
}