@using BlazorStrap
@namespace UI.Components

<div class="card-container">
    <a href="/recipe" class="btn btn-primary add-new-button">Add new</a>

    @if (IsLoading)
    {
        <div class="spinner-container">
            <BSSpinner Color="BSColor.Primary" />
        </div>
    }
    else
    {
        @foreach (var recipe in Recipes)
        {
            <RecipeCardComponent Recipe="@recipe" />
        }
    }
</div>